@import url("variables.css");
@import url("utilities.css");
@import url("clock.css");
@import url("text-colors.css");
@import url("tooltips.css");
@import url("buttons.css");
@import url("levels.css");
@import url("results-graphic.css");
@import url("results-summary.css");
@import url("activities.css");
@import url("option-group.css");
@import url("summary-modal.css");

/**
 * Quiz 
 * ============================================================ */
.quiz {
	font-family: "GT Planar";
	font-weight: 300;
	color: var(--color-navy);
}

.quiz strong {
	font-weight: 500;
}

.quiz .error {
	height: 0;
}

.quiz .error p {
	font-size: 14px;
	font-weight: 300;
	line-height: 13.8px;
	letter-spacing: 0.05em;
	color: var(--color-error);
}

.quiz__container {
	min-height: 100vh;
}

.quiz__layout {
}

.quiz__layout--start .quiz__header-wrap {
	min-height: 420px;
	background: var(--color-navy);
}

.quiz__layout--results .quiz__header-wrap {
	min-height: 300px;
	background: var(--color-navy);
}

.quiz__layout--start .quiz__header > *,
.quiz__layout--results .quiz__header > * {
	color: var(--color-purple-light);
}

.quiz__layout--start .quiz__header .headline,
.quiz__layout--results .quiz__header .headline {
	color: var(--color-white);
}

.quiz__header-wrap {
	grid-column: span 12;
	padding-left: var(--section-padding-default);
	padding-right: var(--section-padding-default);
}

.quiz__header {
	padding: 36px 0 24px 0;
	max-width: var(--section-max-width);
	margin: 0 auto;
}

.quiz__header .headline {
	font-size: 32px;
	font-weight: 500;
	line-height: 36.8px;
	margin: 0;
}

.quiz__header p {
	font-size: 28px;
	font-weight: 300;
	line-height: 32.2px;
	margin: 10px 0;
}

.quiz__body-wrap {
	grid-column: span 12;
	padding-left: var(--section-padding-default);
	padding-right: var(--section-padding-default);
}

.quiz__body {
	display: block;
	max-width: var(--section-max-width);
	margin: 0 auto;
}

.quiz__summary {
	margin: 20px 0;
}

.quiz__summary .buttons {
	margin-top: 36px;
}

.quiz__progress {
	min-height: 72px;
	text-transform: uppercase;
}

.quiz__progress-text {
	display: flex;
	flex-direction: column;
	gap: 26px;
	font-size: 12px;
	line-height: 13.8px;
	letter-spacing: 0.07em;
}

.quiz__progress-text__inner {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.quiz__progress-bar {
	position: relative;
	width: 182px;
	height: 6px;
	background-color: var(--color-white);
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin-top: 10px;
}

.quiz__progress-bar__fill {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	background-color: red;
}

.quiz__card-wrap {
	padding: 0;
}

.quiz__card {
	background-color: var(--color-white);
	border: 1px solid var(--color-black);
	margin: 24px 0 12px 0;
	padding: 16px 16px 36px 16px;
	max-width: 590px;
}

.quiz__card .question {
	font-size: 18px;
	font-weight: 300;
	line-height: 25.2px;
	margin: 0 0 24px 0;
}

.quiz__card .quiz__card__headline {
	position: relative;
	display: flex;
	align-items: end;
	gap: 24px;
	margin: 0 0 24px 0;
	padding-bottom: 12px;
	border-bottom: 1px solid var(--color-navy);
}

.quiz__card .quiz__card__headline .headline {
	flex: 1;
	display: block;
	font-size: 30px;
	font-weight: 300;
	line-height: 35px;
	margin: 0;
}

.quiz__card .quiz__card__headline svg {
	display: block;
	width: 100%;
	height: 100%;
}

.quiz__card .quiz__card__headline button.info-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 30px;
	margin: 0;
	padding: 0;
	background: none;
}

.quiz__card .quiz__card__headline button.info-button svg {
	width: 15px;
	height: 15px;
}

.quiz__card .quiz__card__headline button.info-button ~ .blurb-wrap {
	display: none;
	position: absolute;
	min-width: 50%;
	max-width: 100%;
	width: 320px;
	top: 100%;
	right: 0;
	background-color: var(--color-white);
	border: 1px solid var(--color-navy);
}

.quiz__card .quiz__card__headline button.info-button:hover ~ .blurb-wrap,
.quiz__card .quiz__card__headline button.info-button:focus ~ .blurb-wrap {
	display: block;
	padding: 24px 32px 24px 24px;
}

.quiz__card .quiz__card__headline .blurb-wrap .blurb-close-button {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 16px;
	right: 16px;
}

.quiz__card .quiz__card__headline .blurb h3 {
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	margin: 0 0 13px 0;
}

.quiz__card .quiz__card__headline .blurb p {
	display: block;
	font-size: 14px;
	font-weight: 300;
	line-height: 19.6px;
	margin: 0;
}

.quiz__card .quiz__card__headline.quiz__card__headline--titlepage {
	margin: 0 0 90px 0;
}

.quiz__buttons {
	display: flex;
	gap: 10px;
}

.quiz__results-graphic-summary {
	position: relative;
	margin: 20px 0;
	overflow: hidden;
	border: 1px solid var(--color-navy);
	border-radius: 7px;
}

.quiz__results-activities {
	position: relative;
	margin: 20px 0;
	overflow: hidden;
	border: 1px solid var(--color-navy);
	border-radius: 7px;
}

@media screen and (min-width: 1024px) {
	.quiz__layout--start {
	}

	.quiz__layout--title,
	.quiz__layout--question {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 24px;
		row-gap: 124px;
	}

	.quiz__header-wrap {
		padding-left: var(--section-padding-expanded);
		padding-right: var(--section-padding-expanded);
	}

	.quiz__header {
		grid-column: span 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 24px;
		padding-bottom: 0;
	}

	.quiz__header .headline {
		grid-column: span 7;
		font-size: 52px;
		font-weight: 500;
		line-height: 80px;
	}

	.quiz__header p {
		grid-column: span 5;
		font-size: 36px;
		font-weight: 300;
		line-height: 41.4px;
		margin: 0;
	}

	.quiz__body-wrap {
		padding-left: var(--section-padding-expanded);
		padding-right: var(--section-padding-expanded);
	}

	.quiz__body {
		grid-column: span 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 0;
	}

	.quiz__summary {
		grid-column: span 6 / 10;
	}

	.quiz__progress {
		grid-column: span 3;
	}

	.quiz__card-wrap {
		grid-column: span 6;
	}

	.quiz__card {
		min-height: 420px;
		margin-top: 0;
		padding-top: 24px;
		padding-right: 24px;
		padding-left: 24px;
	}

	.quiz__card .question {
		margin-bottom: 72px;
	}

	.quiz__card .quiz__card__headline .blurb-wrap .blurb-close-button {
		display: none;
	}

	.quiz__results-graphic-summary {
		grid-column: span 24;
		display: grid;
		grid-template-columns: repeat(24, 1fr);
		gap: 0;
		margin: 40px 0 20px 0;
	}

	.quiz__results-activities {
		grid-column: span 12;
	}
}
