.results-graphic {
	margin: 20px 0;
	align-self: center;
}

@media screen and (min-width: 1024px) {
	.results-graphic {
		grid-column: span 8 / 20;
		order: 2;
	}
}

@media screen and (min-width: 1280px) {
	.results-graphic {
		grid-column: span 15 / 24;
		order: 2;
	}
}
