.results-summary {
	display: flex;
	flex-direction: column;
	margin: 20px 0 0 0;
	position: relative;
	z-index: 400;
}

.results-summary .eyebrow {
	font-weight: 500;
	font-size: 10px;
	line-height: 1;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	margin-bottom: 6px;
}

.results-summary h2 {
	font-weight: 300;
	font-size: 28px;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 40px;
	max-width: 10ch;
}

.results-summary p,
.results-summary ul {
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
}

.results-summary ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.results-summary ul li {
	margin: 0 0 4px 0;
}

.results-summary__buttons {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding: 20px;
}

.results-summary__buttons .button-set {
	display: flex;
	gap: 11px;
}

.results-summary__slideshow {
	background-color: var(--color-navy-light);
	padding: 24px 36px 10px 20px;
}

@media screen and (min-width: 1024px) {
	.results-summary {
		grid-column: span 7;
		margin: 0;
		flex-direction: column-reverse;
		justify-content: space-between;
		background-color: var(--color-navy-light);
	}

	.results-summary h2 {
		font-size: 36px;
		margin-bottom: 24px;
	}
}
